       {% extends "layout.html" %}
{% block title %}
    <title>修改密码</title>
{% endblock %}
{% block body %}
            <div class="col-sm-4">
                <label><h5 style="font-weight: bold">用户名/ID</h5></label>
                 <input type="text" class="form-control" value="{{ user }}" readonly id="user"/>
                <br/>
                <label><h5 style="font-weight: bold">旧密码</h5></label>
                 <input type="password" class="form-control" value="" id="old_password">
                <br/>
                <label><h5 style="font-weight: bold">新密码</h5></label>
                 <input type="password" class="form-control" value="" id="new_password">
                <br/>
                <label><h5 style="font-weight: bold">确认密码</h5></label>
                 <input type="password" class="form-control" value="" id="confirm_password">
                <br/>
                <button class="btn btn-success" onclick="change()">确认修改
                </button>
            </div>

<script type="text/javascript">
    function change(){
        var user = $("#user").val();
        var old_password = $("#old_password").val();
        var new_password = $("#new_password").val();
        var confirm_password = $("#confirm_password").val();
        if(new_password != confirm_password){
            alert("新密码两次输入不同");
            return;
        }else{
            var dict1={'user':user,'old_password':old_password, 'new_password':new_password};
            $.ajax({
                type:"post",
                contentType:"application/json;charset=UTF-8",
                url:"{{ url_dict.API_change_password }}",
                dataType:'json',
                data:JSON.stringify(dict1),
                success:function(data){
                    alert(data.status);
                    location.replace(window.location.href);
                },


            });
        }



    }
</script>




{% endblock %}