{% extends "layout.html" %}
{% block title %}
    <link rel="stylesheet" type="text/css" href="http://cdn.datatables.net/1.10.15/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="http://cdn.datatables.net/1.10.15/js/jquery.dataTables.js"></script>

    <title>学生信息</title>

    <script type="text/javascript" >
        function add_stu(){
            $('#addModal').modal('show');
            $('#stu_id').val("");
            $('#stu_name').val("");
            $('#enroll_year').val("");
            $('#gradu_year').val("");
        }
        function change_stu(that){
            $('#changeModal').modal('show');
            var tds=$(that).parent().parent().children('td');
            $('#stu_id2').val($(tds[0]).html());
            $('#stu_name2').val($(tds[1]).html());
            $('#enroll_year2').val($(tds[3]).html());
            $('#gradu_year2').val($(tds[4]).html());
            $('#gender2').val($(tds[2]).html());
            let major_name = $(tds[6]).html();
            let majors = $('#major_name2').children('option');
            for(let i=0;i<majors.length;i++){
                if($(majors[i]).html()==major_name){
                    $(majors[i]).attr('selected',true);
                    break;
                }

            }

        }
        function delete_stu(that){
            var tds=$(that).parent().parent().children('td');
            var stu_id = $(tds[0]).html();
            if(confirm('确定删除学号为'+stu_id+"的学生吗?")){
                makeSomething("delete",stu_id);
            }
        }
        function reset_stu(that){
            var tds=$(that).parent().parent().children('td');
            var stu_id = $(tds[0]).html();
            if(confirm('确定重置学号为'+stu_id+"的学生的密码吗?")){
                makeSomething("reset",stu_id);
            }
        }
        function makeSomething(control,val1){
            if(control=="add"){

                let stu_id = $('#stu_id').val();
                let stu_name = $('#stu_name').val();
                let enroll_year = $('#enroll_year').val();
                let gradu_year = $('#gradu_year').val();
                let gender = $('#gender').val();
                let major_name = $('#major_name').val();
                if(stu_id==""||stu_name==""||enroll_year==""||gradu_year=="")
                    return;
                if(!confirm("确认新增？"))
                        return ;
                var dict1 = {'control':"add",'stu_id':stu_id,'stu_name':stu_name,
                    'enroll_year':enroll_year,'gradu_year':gradu_year,'gender':gender,
                    'major_name':major_name
                };

            }
            else if(control=="change"){
                    if(!confirm("确认修改？"))
                        return ;

                    let stu_id = $('#stu_id2').val();
                    let stu_name = $('#stu_name2').val();
                    let enroll_year = $('#enroll_year2').val();
                    let gradu_year = $('#gradu_year2').val();
                    let gender = $('#gender2').val();
                    let major_name = $('#major_name2').val();
                    if(stu_id==""||stu_name==""||enroll_year==""||gradu_year=="")
                        return;
                    var dict1 = {'control':"change",'stu_id':stu_id,'stu_name':stu_name,
                        'enroll_year':enroll_year,'gradu_year':gradu_year,'gender':gender,
                        'major_name':major_name
                    };

            }
            else if(control=="reset"){
                let stu_id = val1;
                var dict1 = {'stu_id':stu_id,'control':'reset'};
            }
            else if(control=="delete"){
                let stu_id = val1;
                var dict1 = {'stu_id':stu_id,'control':'delete'};

            }
            $.ajax({
                        type:"post",
                        contentType:"application/json;charset=UTF-8",
                        url:"{{ url_dict.API_student_management }}",
                        dataType:'json',
                        data:JSON.stringify(dict1),
                        success:function(data){
                            alert(data.status);
                            location.replace(window.location.href);
                        },
            });
        }
    </script>



{% endblock %}
{% block body %}
    <button class="btn btn-primary" onclick="add_stu()">新增学生</button>
    <h4 style="color:red">加载中..</h4>
    <table class="table table-striped" id="stu_table">

    </table>

    <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="modal_title">新增一位学生</h4>
            </div>
            <div class="modal-body">
			<form class="form-horizontal" role="form">
                <div class="form-group">
                    <label class="col-sm-3 control-label">学号</label>
                            <div class="col-sm-7">
                                 <input type="text" class="form-control" id="stu_id" value=""
                                       placeholder="请输入学号">
                            </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">姓名</label>
                            <div class="col-sm-7">
                                 <input type="text" class="form-control" id="stu_name" value=""
                                       placeholder="请输入姓名">
                            </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">性别</label>
                            <div class="col-sm-7">
                                 <select id="gender">
                                     <option value="男">
                                         男
                                     </option>
                                     <option value="女">
                                         女
                                     </option>
                                 </select>
                            </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">入学年份</label>
                            <div class="col-sm-7">
                                 <input type="text" class="form-control" id="enroll_year" value=""
                                       placeholder="请输入入学年份">
                            </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">毕业年份</label>
                            <div class="col-sm-7">
                                 <input type="text" class="form-control" id="gradu_year" value=""
                                       placeholder="请输入毕业年份">
                            </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">专业</label>
                            <div class="col-sm-7">
                                 <select id="major_name">
                                     {% for major in majors %}
                                         <option value="{{ major[0] }}">
                                         {{ major[1] }}
                                         </option>
                                     {% endfor %}
                                 </select>
                            </div>
                </div>

			</form>
			</div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" onclick="makeSomething('add',0)">新增</button>
            </div>
        </div>
    </div>
</div>

    <div class="modal fade" id="changeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="modal_title2">修改</h4>
            </div>
            <div class="modal-body">
			<form class="form-horizontal" role="form">
                <div class="form-group">
                    <label class="col-sm-3 control-label">学号</label>
                            <div class="col-sm-7">
                                 <input type="text" class="form-control" id="stu_id2" value=""
                                       placeholder="请输入学号" readonly>
                            </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">姓名</label>
                            <div class="col-sm-7">
                                 <input type="text" class="form-control" id="stu_name2" value=""
                                       placeholder="请输入姓名" readonly>
                            </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">性别</label>
                            <div class="col-sm-7">
                                 <select id="gender2">
                                     <option value="男">
                                         男
                                     </option>
                                     <option value="女">
                                         女
                                     </option>
                                 </select>
                            </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">入学年份</label>
                            <div class="col-sm-7">
                                 <input type="text" class="form-control" id="enroll_year2" value=""
                                       placeholder="请输入入学年份">
                            </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">毕业年份</label>
                            <div class="col-sm-7">
                                 <input type="text" class="form-control" id="gradu_year2" value=""
                                       placeholder="请输入毕业年份">
                            </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">专业</label>
                            <div class="col-sm-7">
                                 <select id="major_name2">
                                     {% for major in majors %}
                                         <option value="{{ major[0] }}">{{ major[1] }}</option>
                                     {% endfor %}
                                 </select>
                            </div>
                </div>

			</form>
			</div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" onclick="makeSomething('change',0)">修改</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
        make_student_info();
        function make_student_info(){
            var dict1={'control':'get_student_info'}
            $.ajax({
                type:"post",
                contentType:"application/json;charset=UTF-8",
                url:"{{ url_dict.API_student_management }}",
                dataType:'json',
                data:JSON.stringify(dict1),
                success:function(data){
                    if(data.status=="success"){
                        setData(data.data);
                    }
                    else{
                        alert("请求失败");
                    }
                },


            });
        }
        function setData(data){
            for(var i=0;i<data.length;i++){
                var buttonSentence = "<button class='btn btn-success btn-sm' onclick='"+'change_stu(this)'+"'>修改</button>&nbsp;";
                buttonSentence += "<button class='btn btn-info btn-sm' onclick='"+'reset_stu(this)'+" '>重置密码</button>&nbsp;";
                buttonSentence += "<button class='btn btn-danger btn-sm' onclick='"+'delete_stu(this)'+" '>删除</button>";
                data[i].button=buttonSentence;
            }
            Form(data);
        }
        function Form(data){
            init_table();
                $('#stu_table').dataTable({
                    destroy: true,
                    bAutoWidth: true,  //自动设置宽度
                    data:data,
                    bStateSave : true,
                    bPaginate : true,
                    bLengthChange : false,// 每行显示记录数
                    iDisplayLength : 5,// 每页显示行数
                    bInfo : true,
                    sPaginationType : "full_numbers", // 分页，一共两种样式 另一种为two_button // 是datatables默认
                    bProcessing : true,
                    columns:[
                        {data:'stu_id'},
                        {data:'stu_name'},
                        {data:'gender'},
                        {data:'enroll_year'},
                        {data:'gradu_year'},
                        {data:'status'},
                        {data:'major_name'},
                        {data:'button'},
                      ],
                      /*国际化语言*/
                      language : {
                            "sProcessing" : "处理中...",
                            "sLengthMenu" : "显示 _MENU_ 项结果",
                            "sZeroRecords" : "没有匹配结果",
                            "sInfo" : "显示第 _START_ 至 _END_ 项结果，共 _TOTAL_ 项",
                            "sInfoEmpty" : "显示第 0 至 0 项结果，共 0 项",
                            "sInfoFiltered" : "(由 _MAX_ 项结果过滤)",
                            "sInfoPostFix" : "",
                            "sSearch" : "搜索:",
                            "sUrl" : "",
                            "sEmptyTable" : "表中数据为空",
                            "sLoadingRecords" : "载入中...",
                            "sInfoThousands" : ",",
                            "oPaginate" : {
                                "sFirst" : "首页",
                                "sPrevious" : "上页",
                                "sNext" : "下页",
                                "sLast" : "末页"
                            },
                        },
                });
        }
        function init_table(){
            $('#stu_table').html("<thead>\n" +
                "              <tr>\n" +
                "                  <th>学号</th>\n" +
                "                  <th>学生姓名</th>\n" +
                "                  <th>性别</th>\n" +
                "                  <th>入学年份</th>\n" +
                "                  <th>毕业年份</th>\n" +
                "                  <th>就业状态</th>\n" +
                "                  <th>专业名称</th>\n" +
                "                  <th>操作</th>\n" +
                "              </tr>\n" +
                "              </thead>\n" +
                "              <tbody>\n" +
                "\n" +
                "              </tbody>");
            $('h4').remove();
        }


</script>


{% endblock %}